[submodule "src/dependencias/formatos-institutos-venezolanos"]
	path = src/dependencias/formatos-institutos-venezolanos
	url = https://github.com/CarmeloMaitaO/formatos-institutos-educativos-venezolanos.git
